<div class="container-fluid">
  <div class="row">
    <div class="col-8 home">
      <div class="row">
        <div class="stones">
          see more gems
        </div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="title">Name of Gem</div>
          <div class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.
          </div>
          <div class="bttn1">Available</div>
          <div class="bttn1">Contact for booking</div>
          <div class="row">
            <div class="title">Benifits</div>
            <hr>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.</div>
          </div>
          <div class="row">
            <div class="title">Suitable For</div>
            <hr>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
