<div class="container-fluid">
  <div class="row">
    <div class="col-9 home">
      <div class="row gems">
        <div class="col-1"></div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
        <div class="col-1 gem">
          <img src="">
          <span>Ruby</span>
        </div>
      </div>
        <div class="row">
          <div class="col-12 stones">
            see more gems
          </div>
        </div>

      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="title">Name of Gem</div>
          <div class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.
          </div>
          <div class="bttn1">Available</div>
          <div class="bttn" style="display:inline-block">Contact for booking
          </div>

          <div class="row">
            <div class="title">Benifits</div>
            <div class="row">
            <div class="col-6"><hr style="border-top: 1px solid #B7387D;"></div>
            </div>
            <div class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.
            </div>
          </div>
          <div class="row">
            <div class="title">Suitable For</div>
            <div class="row">
            <div class="col-6"><hr style="border-top: 1px solid #B7387D;"></div>
            </div>
            <div class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
