
<div class="container-fluid">
  <div class="row">
    <div class="col-9 home">
      <div class="title">Terms and Conditions</div>
      <div class="text1">
        Welcome to our website: www.divinegemsandstones.com. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern our (Divine Gems and Stones) relationship with you in relation to this website.
      </div>
      <div class="text1">
        The term "Divine Gems and Stones" or "us" or "we" refers to the owner of the website whose registered office is Divine Gems and Stones,India. The term "you" refers to the user or viewer of our website. For any related questions or queries about the Terms of Service, you can send us an email at: info@divinegemsandstones.com
      </div>
      <div class="text1">
        <ul>
          The use of this website is subject to the following terms of use:

          <li>You understand that we are an online business and our products & services are available through this website only.
          </li>
          <li> Users can complete their shopping as a Guest or can Register as a Member by Creating an Account.  When placing an order for the first time, users have to provide personal information (as defined in the Privacy Policy), including but not limited to name, email plus contact address and contact phone in case of payable items ; plus birth-details in case of Gemstone Reports. Registration is a one-time process. Members already registered can simply log-in or sign-in to their account.
          </li>
          <li>You represent that you are at least 18 years of age OR the age of majority in your state or province or country of residence.</li>
          <li>You understand that when buying a Remedial Gemstone Report there are no returns or refunds on this product.
          </li>
          <li>That when buying a Gemstone from our Online Store, you have read the Shipping Terms: http://www.divinegemsandstones.com/pages/shipping
          and the Returns Policy: http://www.divinegemsandstones.com/pages/returns</li>
          <li>That when placing a Custom Order, you have read the related terms: http://www.divinegemsandstones.com/pages/custom-order</li>
          <li>You may not use our products for any illegal or unauthorized purpose (including but not limited to copyright laws).</li>
          <li>Prices for our products and the Range of products/services available for sale are subject to change without notice. We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.</li>
          <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
          <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
          <li> Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
          <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
          <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
          <li>We have made every effort to display as accurately as possible the colours and images of our products that appear at the store. We cannot guarantee that your computer monitor's display of any colour will be accurate.</li>
          <li>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
          <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
          <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
          <li>You may not create a link to this website from another website or document without our (Divine Gems and Stones) prior written consent.</li>
        </ul>
      </div>
    </div>

    <div class="col-3">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
