
<div class="container-fluid">
  <div class="row">
    <div class="col-9 home">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <div class="abouthead">About Us</div>
          <div class="abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.
          </div>
          <div class="col-6 bttn">Email Us at</div>
          <div class="aboutmid">
            <div class="abouthead_mid">Some Experiences</div>
              <div class="col-5"><hr style="border-top: 1px solid #B7387D;"></div>
            <div class="abouttext_mid">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.</div>
            <div class="">+read more</div>
          </div>
        </div>
        <div class="col-5 contact_info">
          <div class="contact_head">Contact Info</div>
          <div class="row">
            <div class="col-6">
              <div class="contact_text">Phone:</div>
              <div class="contact_text">Email:</div>
              <div class="contact_text">Address:</div>
            </div>
            <div class="col-6">
              <div class="contact_text">9860385019</div>
              <div class="contact_text">ethisisemail@gmail.com</div>
              <div class="contact_text">254, Rathi Galaxy, Cannought Place, Cidco N5, Aurangabad (431003), Maharashtra, India
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15008.533525301518!2d75.363804!3d19.876589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf023d8d3eed6e8b2!2sRDM+Universal!5e0!3m2!1sen!2sin!4v1537686510496" width="100%"  frameborder="" style="border:" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row">
              <div class=" col-6 contact_text">
                Pune Branch:
              </div>
              <div class="col-6 contact_text">254, Rathi Galaxy, Cannought Place, Cidco N5, Aurangabad (431003), Maharashtra, India
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <div class="title">Consulting Services</div>
          <div class="title_next">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          <div class="bttn">Know More</div>
        </div>
        <div class="col-5">
          <div class="title">We are on Social Network</div>
          <div class="title_next">Visit us on social newtork for updates and exiciting new contect.
          </div>
          <div class="">
            <div class="col-4 bttn" style="display:inline-block;">Facebook </div>

            <div class="col-4 bttn" style="display:inline-block;">Instragram</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
