<div class="container-fluid">
  <div class="row">
    <div class="col-9 home">
      <div class="title">Privacy Policy</div>
      <div class="text1">
        We are committed to protecting your Privacy.
        The reason we collect your information is to efficiently process your order; and to provide with exceptional service.
        It is our strict policy not to sell, rent, share or loan any identifiable information to anyone.
        We only send emails to you if we have received your consent for marketing and to communicate with you about the orders you have placed.
      </div>
      <div class="text1">
        <ul>
          The type of information we collect about you includes:
          <li>Your name</li>
          <li>address</li>
          <li>email</li>
          <li>phone number</li>
          <li>birth details (only if applicable, for birth chart and gemstone reports/recommendations)</li>
          <!-- <li>credit/debit card details</li> -->
        </ul>
      </div>
      <div class="text1">
      Without your consent, we do not collect any information at all.
      Should you wish to withdraw your consent, you can send us an email at: info@divinegemsandstones OR write to us at: Divine Gems and Stones, India.
      <br>
      We may disclose your personal information if we are required by law to do so OR if you violate our Terms of Service.
      <br>
      In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
      However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
      For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
      Once you leave our store’s website or are redirected to a third-party website or application OR link, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
      <br>
      BY USING THE WEBSITE OR ANY RELATED APPLICATIONS, YOU SIGNIFY YOUR AGREEMENT TO THE TERMS OF THIS PRIVACY POLICY, DIVINEGEMSANDSTONES.COM RESERVES THE RIGHT, IN OUR SOLE DISCRETION, TO CHANGE, MODIFY, ADD OR DELETE PORTIONS OF THE TERMS OF THIS PRIVACY POLICY AT ANY TIME.
    </div>
    </div>
    <div class="col-3">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
