<div class="container-fluid">
  <div class="row">
    <div class=" col-12 head">Divine</div>
  </div>
  <div class="row">
    <div class="col-12 headnext">Gems & Gemology</div>
  </div>
   <hr style="border-top: 1px solid #B7387D;">
  <div class="row">
    <ul>
      <li class="active" routerLink="/home">Home</li>
      <li routerLink="/gemstones">Gems & Stones</li>
      <li routerLink="/articles">Si-Fi Meditation</li>
      <li routerLink="/about">About</li>
    </ul>
  </div>
    <div class="row">
      <div class="contact">
        <div class="contacthead">Contact</div>
        <hr>
        <div class="contact_text">Phone: 9860385019</div>
        <div class="contact_text">Email: thisisemail@gmail.com</div>
        <div class="contact_text">Address: 325, Here we live, and here, Maharashtra (431003), India.</div>
      </div>
    </div>
    <div class="row">
      <div class="sidenav_btm">
        <a>Privacy Policy</a>
        <a>Terms & Conditions</a>
        <a>a LOAD project</a>
      </div>
    </div>
</div>
