
<div class="container-fluid">
  <div class="row">
    <div class="col-8 home">
      <div class="row homehead">
        <div class="col-1"></div>
          <div class="col-3"></div>
          <div class="col-7 ">
            <div class="title">Gems for your need with our perfection</div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam vel eros sed ipsum ultrices cursus. Maecenas molestie ipsum eget tortor vestibulum maximus. Curabitur orci turpis, vehicula ac vehicula et, ultrices in purus. Phasellus libero eros, vulputate non lorem ut, accumsan placerat enim.
            </div>
            <div class="row">
              <div class=" col-6 bttn">Visit Our Collection</div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10 homemid">
        <div class="homemid_head">The Gems are Gems for Life</div>
        <hr style="border-top: 1px solid #B7387D;width:50%;">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat fermentum elit, ac pretium nunc mollis vitae. Fusce vehicula, magna eget aliquam egestas, nunc lectus tristique nisi, in condimentum quam neque et dolor.
        </div>
        <div class="homemid_btm"><a>+read more</a></div>
        </div>
      </div>
      <div class="row homebtm">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="row">
              <div class="col-6">
              <div class="title">Consulting Services</div>
              <div class="title_next">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="bttn">Know More</div>
              </div>
              <div class="col-6">
                <div class="title">We are on Social Network</div>
                <div class="title_next">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div>Facebook Instragram</div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-4">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
